body > div {
    border-top: 1px solid #242424;
}

body > div > div.sidebar > div.files > div > div:nth-child(1) {
    border-top: none;
}

.playcode {
    -webkit-app-region: no-drag;
}

#titlebar {
    height: 36px;
    -webkit-app-region: drag;
}